.form-container {
    background-color: #ffffff; 
    padding: 30px; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 409px; 
    align-items: center;
}

.tabel {
    display: flex;
    flex-direction: column;
    align-items: center;   /* agar tabel tetap di tengah */
    justify-content: center;
    margin-top: 40px;
}

.tabel table {
    background: white;
    color: black;
    border-collapse: collapse;
    width: 60%;
    text-align: center;
}

.tabel table th, .tabel table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.tabel .btn {
    margin-top: 20px;
}

