.conlog{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* ======== HALAMAN index ======== */

body {
  background-image: url('back.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat;
}

body::before {
  content: '';
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(17px);
  z-index: -1;
}

.welcome-container {
  margin-top: 80px;
  text-align: center;
}

.welcome-container h1 {
  font-size: 36px;
  font-weight: bold;
  color: #003e9b;   
}

.brand {
  font-size: 48px;
  font-weight: bold;
  color: #ff2e2e;    
  margin-top: 10px;
}

.brand span {
  color: #ffd200; 
}

.welcome-container p {
  font-size: 18px;
  margin-top: 10px;
  color: #333;
}

.btn-group {
  margin-top: 25px;
}

.btn {
  padding: 10px 25px;
  margin: 8px;
  font-size: 16px;
  background: white;
  color: #003e9b;
  text-decoration: none;
  border-radius: 6px;
  display: inline-block;
  border: 2px solid #003e9b;
}

.btn-outline {
  background: white;
  border: 2px solid #003e9b;
  color: #003e9b;
}

.btn:hover {
  background: #003e9b;
  color: white;
}

.btn-outline:hover {
  background: #003e9b;
  color: white;
}
